<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Your Payment is succesfull</h2>
    <h4>Payment Id <span id="payid"></span></h4>
    <button>
        <a href="/">Go To Home</a>
    </button>

    <script>
        const paymentId = new URLSearchParams(window.location.search).get("paymentId");
        document.querySelector("#payid").textContent = paymentId;

    </script>
</body>

</html>